include mixins/track
extends layout

block content
  .site-title
    a(href='/')
        img(src='/images/logo.png', alt='hadapptify')
  .user-info Logged in as <strong>#{username}</strong>
  .active-users
    include users
  include search_box
  if now_playing
    h2 Now Playing
    .now-playing
        +track_name(now_playing)
  .search_results
  if queue
    h2 Queue
    .queue
        include queue
  h2 Chat
  ul(id="messages")
    each msg in chatlog
      p #{msg}
  include chat_box
