include mixins/track
extends layout

block content
  .site-title
    a(href='/')
        img(src='/images/logo.png', alt='hadapptify')
  .user-info Logged in as <strong>#{username}</strong>
  .active-users
    |Active users: #{active_users.join(", ")}
  include search_box
  if now_playing
    h2 Now Playing
    .now-playing
        +track_name(now_playing)
  if tracks
    h2 Search Results
    each track in tracks
        +track_info(track)
  if queue
    h2 Queue
    .queue
        each element in queue._elements
            +queue_element_info(element)
  h2 Chat
  ul(id="messages")
    each msg in chatlog
      p #{msg}
  include chat_box
