doctype html
html
  head
    title| hadapptify
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/sockets.js')
  body
    block content
