form(id="searchCriteria", method="get")
  span(class="errors")
  fieldset
   .search-input
    input(id="searchString",name="search",type="text",value="")
    .search-button
     button(type="submit") Find Music
