form(id="searchform", action="")
  span(class="errors")
  fieldset
   .search-input
    input(id="search_input",name="search",type="text",value="")
    .search-button
     button(type="submit") Find Music
